/* Success Notification */
::ng-deep .successSnack {
  background: #6ed672 !important;
  font-weight: bold !important;
  color: white !important;
}
/* Error Notification */
::ng-deep .errorSnack {
  background: #ff6257 !important;
  font-weight: bold !important;
  color: white !important;
}