<div class="search-page" style="padding-top: 2rem;">
  <div class="container">

    <!-- Search Section -->
    <div class="row padding">
      <div class="col-md-12 search-menu-main">
        <div class="search-menu">
          <mat-form-field appearance="outline" class="search-field">
            <mat-label>Search for restaurants</mat-label>
            <input matInput/>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>

  </div>
</div>