.container {
    background-color: #FFFFFF !important;
    height: 100%;
    color: #181C2E;
}

.padding {
    padding: 1rem;
}

.search-page {
    background-color: #FFFFFF;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.search-menu {
    display: flex;
    align-items: center;
    justify-content: end;
}  

.search-field {
    width: 100%;
}

.search-cards {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    ion-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .search-details-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .search-details {
        display: flex;
        align-items: center;
        span {
            color: #32343E;
        }
        ion-icon {
            font-size: 13px;
            color: white;
            margin-left: 0.2rem;
        }
        span {
            margin-left: 6px;
            font-size: 14px;
            color: #32343E;
        }

        .search-design {
            justify-content: center;
            display: flex;
            align-items: center;
            padding-left: 0.2rem;
            background-color: #FC6E2A;
            border-radius: 10px;
            color: white;
            padding-right: 0.3rem;
            padding-left: 0.3rem;
        }
    }

}

@media screen and (max-width: 1024px) {
    .search-cards {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media screen and (max-width: 576px) {
    .search-cards {
        grid-template-columns: 1fr !important;
    }
}