.dialog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF !important;
    color: black;
    padding: 16px;
}
  
.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    color: #FF7622;
}
  
.dialog-body {
    padding: 1rem;
}
  
.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF7622;
}

.content {
    width: 100%;
    height: 100%;
}

  
.dialog-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 1rem;
}
  
.dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    color: #FFFFFF;
}
  
.full-width {
    width: 100% !important;
}
  
.action-btn {
    color: white !important;
    padding: 0.5rem;
    background: #FF7622 !important;
    border-radius: 5px;
    font-size: 14px;
	&:disabled {
		opacity: 0.8;
		cursor: not-allowed;
	}
}

.couponContainer {
    display: flex;
    // margin-bottom: 0.5rem;
    height: fit-content;
    padding: 0;
    width: fit-content;
    border-radius: 5px;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    background: #FFF2ED;
    border: 1px solid #FF956D;
    font-family: 'Roboto';
    cursor: pointer;
}


.couponImg {
    width: 1.5rem;
    margin-right: 0.5rem;
}

.coupon {
    letter-spacing: 1px;
    color: #FF956D;

}