

ion-content {
  --background: #FFFFFF !important;
}

ion-img {
  width: 4rem; 
  height: 3rem;
}

.toast-button {
  --color: #FFFFFF !important;;
}

ion-button.active {
  color: #FF7622 !important;
}

/* Header Styling */
ion-header {
  --background: #FFFFFF !important;
  --color: #32343E !important;
}



ion-menu {
  --background: transparent;
}

ion-menu ion-list {
  --background: transparent;
}

ion-menu ion-item {
  --background: transparent;
  color: #676767;
  font-weight: 500;
}

ion-menu ion-item.activated,
ion-menu ion-item[aria-current="page"] {
  background-color: rgba(255, 165, 0, 0.2);
}

ion-tab-bar {
  --background: #FFFFFF !important;
}

ion-toolbar {
  --background: #FFFFFF;
  --color: #32343E; 
}

ion-button.active {
  color: #FF7622 !important;
}

.headerPadding {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.iconButton {
  justify-content: center; 
  align-items: center; 
  display: flex;
  padding: 0.5rem;
  span {
    margin-left: 4px; 
    padding-top: 0.2rem; 
    font-size: 17px;
  }
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.iconAndText {
  justify-content: center; 
  align-items: center; 
  display: flex;
  font-size: 1.4rem; 
}

.deliveryAddressCenter {
  justify-content: center;
  align-items: center;
  display: flex;
}

.underlineAddressType {
  color: #FC6E2A;
  font-size: 16px;
  border-bottom: 2px solid;
  margin-right: 1rem;
}

.addressFont {
  color: #676767;
  font-size: 16px;
}

::ng-deep .mat-badge-content {
  top: -2px !important;
  right: -4px !important;
  width: 1rem !important;
  height: 1rem !important;
  justify-content: center ;
  align-items: center ;
  display: flex ;
  background-color: #FC6E2A;
}

// ::ng-deep .mat-badge-hidden .mat-badge-content{
//     display: none;
// }


ion-badge {
  background-color: #FC6E2A !important;
  color: #FFFFFF !important;
  height: fit-content;
}