

ion-content {
  --background: #F3F3F3 !important;
}


ion-button.active {
  color: #FF7622 !important;
}

/* Header Styling */
ion-toolbar {
  --background: #F3F3F3 !important;
  --color: #32343E !important;
}

ion-tab-bar {
  --background: #FFFFFF !important;
}




// /* Desktop Layout Adjustments */
// .desktop-dashboard {
//   padding: 20px;
// }

// .desktop-dashboard .category-cards {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
// }

// .desktop-dashboard .restaurant-cards {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
// }
