

ion-content {
  --background: #F3F3F3 !important;
}


ion-button.active {
  color: #FF7622 !important;
}

/* Header Styling */
ion-header {
  --background: #F3F3F3 !important;
  --color: #32343E !important;
}

ion-tab-bar {
  --background: #FFFFFF !important;
}

// .content-with-tabs {
//   padding-bottom: 56px; /* This should match the height of the ion-tabs to prevent overlap */
//   height: 100%;
// }

// .fixed-bottom-tabs {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   z-index: 1000;
//   box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
// }

// @media screen and (max-width: 768px) {
//   .fixed-bottom-tabs {
//     height: 3rem; /* Adjust for mobile devices */
//   }

// }




// /* Desktop Layout Adjustments */
// .desktop-dashboard {
//   padding: 20px;
// }

// .desktop-dashboard .category-cards {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
// }

// .desktop-dashboard .restaurant-cards {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
// }
