<ion-content id="main-content" [fullscreen]="true">

  <ng-container *ngIf="isMobileView; else desktopLayout">

    <!-- Mobile Header -->
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <ion-img [src]="logo" alt="logo" (click)="goToHome()" style="cursor: pointer;"></ion-img>
        </ion-title>
        <ion-buttons slot="end">
          <ion-button routerLink="/user-dashboard/cart" routerLinkActive="active" [matBadge]="cartItems()" matBadgeSize="small" matBadgePosition="above after" [matBadgeHidden]="!hasItemsInCart()">
            <ion-icon name="notifications-outline" style="font-size: 1.5rem; padding: 0.4rem;"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <!-- Main Content -->
    <div>
      <router-outlet></router-outlet>
    </div>

    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" routerLink="/user-dashboard/home" routerLinkActive="active">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="search" routerLink="/user-dashboard/search" routerLinkActive="active">
          <ion-icon name="search-outline"></ion-icon>
          <ion-label>Search</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile" routerLink="/user-dashboard/profile" routerLinkActive="active">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>User</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="cart" routerLink="/user-dashboard/cart" routerLinkActive="active">
          <ion-icon name="cart-outline"></ion-icon>
          <ion-label>Cart</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

  </ng-container>

  <ng-template #desktopLayout>

    <!-- Desktop Header -->
    <ion-header>
      <div class="container p-0">
        <ion-toolbar>
          <ion-title><ion-img [src]="logo" alt="logo" style="cursor: pointer;" (click)="goToHome()"></ion-img></ion-title>
          <ion-buttons slot="end">
            <ion-button routerLink="/user-dashboard/home" routerLinkActive="active">
              <div class="iconButton">
                <div class="iconAndText">
                  <ion-icon name="home-outline"></ion-icon>
                </div>
                <span>Home</span>
              </div>
            </ion-button>
            <ion-button routerLink="/user-dashboard/search" routerLinkActive="active">
              <div class="iconButton">
                <div class="iconAndText">
                  <ion-icon name="search-outline"></ion-icon>
                </div>
                <span>Search</span>
              </div>
            </ion-button>
            <ion-button routerLink="/user-dashboard/profile" routerLinkActive="active">
              <div class="iconButton">
                <div class="iconAndText">
                  <ion-icon name="person-outline"></ion-icon>
                </div>
                <span>User</span>
              </div>
            </ion-button>
            <ion-button routerLink="/user-dashboard/cart" routerLinkActive="active" [matBadge]="cartItems()" matBadgeSize="small" matBadgePosition="above after" [matBadgeHidden]="!hasItemsInCart()">
              <div class="iconButton">
                <div class="iconAndText">
                  <ion-icon name="cart-outline"></ion-icon>
                </div>
                <span>Cart</span>
              </div>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </div>
    </ion-header>

    <router-outlet></router-outlet>
    
  </ng-template>

</ion-content>