ion-content {
    --background: #FFFFFF !important;
}

.container {
    background-color: #FFFFFF !important;
    color: #181C2E;
}

.padding {
    padding: 1rem;
}

.profile-page {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.profile-intro {
    display: flex;
    align-items: center;
}

.profile-icon {
    aspect-ratio: 1/1;
    width: 5rem;
}

.profile-text {
    margin-left: 2rem;
    color: #32343E;
    font-weight: bold;
    font-size: 20px;
}

.profile-edit {
    display: flex;
    align-items: end;
    justify-content: end;
}

.profile-edit-btn {
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #FC6E2A;
    color: #F3F3F3;
    justify-content: center;
    align-items: center;
    display: flex;
}

.logout-btn {
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #FC6E2A;
    color: #F3F3F3;
    justify-content: center;
    align-items: center;
    display: flex;
}


.user-profile {
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-detail {
    margin-top: 2rem;
}

.user-detail-placement{
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

.icon-style {
    background: #FFFFFF;
    border-radius: 50%;
    padding: 0.3rem;
}

.ion-icon-style {
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.desktop-dashboard {
    display: flex !important;
    padding: 0;
}
  
.dashboard-sidebar {
    width: 25%;
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd !important;
}
  
.dashboard-sidebar h2 {
    color: #32343e;
    margin-bottom: 5px;
}
  
.dashboard-sidebar p {
    color: #646464;
    margin-bottom: 20px;
}
  
.dashboard-sidebar {
    // background-color: #007bff !important;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
  
.menu-list {
    list-style: none;
    padding: 0;
}
  
.menu-list li {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #32343e;
    transition: all 0.3s;
    margin-top: 1rem;
    border-radius: 12px;
}
  
.menu-list li.active {
    background-color: #FC6E2A;
    color: white;
}
  
.dashboard-content {
    width: 75%;
    flex: 1;
    padding: 20px;
    padding-top: 0;
}
  
.addresses {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.address-card {
    background: white;
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex: 1 1 45%;
}

.payment {
    border-radius: 12px;
    background: white !important;
}

.payments {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
  
.payments-cards {
    --ion-card-background: transparent;
    border: 1px solid #ddd;
    border-radius: 8px;
    flex: 1 1 45%;
}

.custom-item {
    --background: transparent;
    --border-color: none;
}
  
.actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
  
.actions .edit {
    color: #FB6D3A;
    padding: 0.3rem;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
}
  
.actions .delete {
    // color: #ff0000;
    color: #FB6D3A;
    padding: 0.3rem;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.mobile-dashboard {
    padding-bottom: 2rem;
    ::ng-deep .mat-expansion-panel-body {
        padding: 0.5rem !important;
    }
}
  
@media (max-width: 768px) {

    .profile-page {
        margin-top: 4rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-bottom: 0;
    }
    
    .desktop-dashboard {
    display: none;
    }

    .mobile-dashboard {
    display: block;
    }

    .profile-edit {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
  
@media (min-width: 769px) {
    .mobile-dashboard {
      display: none;
    }

    .desktop-dashboard {
        display: block;
    }
}

.add-address {
    background-color: transparent !important;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.2);
    }
}
  
.manage-address,
.manage-address-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-payments {
    background-color: transparent !important;
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.2);
    } 
}

.manage-payments,
.manage-payments-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deleteSavedCards {
    background: #FC6E2A !important;
    color: white !important;
    border-radius: 5px;
}

.manage-content {
    padding: 0.5rem;
}

.orders-list {
    margin-top: 1rem;
}

.no-data-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-data-img {
    width: 20rem;
    height: 20rem;
}

.manage-settings, 
.manage-payments, 
.manage-favorites, 
.manage-address, 
.manage-orders {
    color: #FC6E2A;
}

.favorite-cards {
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // gap: 16px;
    ion-card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }

    .favorite-details-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .favorite-details {
        display: flex;
        align-items: center;
        span {
            color: #32343E;
        }
        ion-icon {
            font-size: 12px;
            color: white;
            margin-left: 0.2rem;
        }
        span {
            margin-left: 1px;
            font-size: 12px;
            color: #32343E;
        }

        .rating-design {
            justify-content: center;
            display: flex;
            align-items: center;
            background-color: #FC6E2A;
            border-radius: 10px;
            color: white;
            padding-right: 0.2rem;
            padding-left: 0.2rem;
        }
    }

}

@media screen and (max-width: 991px) {
    .favorite-cards {
        ion-card-header {
            padding: 0.5rem;
            .favorite-details-row {
                display: block;
                margin-top: 0.5rem;
            }
        }
        .image-container {
            height: 130px;
        }
    }
}


@media screen and (max-width: 430px) {
    .favorite-cards {
        .image-container {
            height: 100px;
        }
    }
}


.image-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    ion-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

