<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profile</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<div class="profile-page">
  <div class="container">    
    <!-- Desktop and Laptop View -->
    <div *ngIf="isDesktop">
      <div class="row padding">
        <div class="user-profile d-flex bd-highlight mb-3">
          <div class="p-2 bd-highlight">
            <div>
              <h2>{{ user.name | uppercase }}</h2>
            </div>
            <div class="user-detail">
              <div class="user-detail-placement">
                <div class="icon-style">
                  <ion-icon name="person-outline" class="ion-icon-style" style="color: #FB6F3D;"></ion-icon>
                </div>
                <div style="margin-left: 1rem;">
                  <h6 style="margin: 0; color: #32343E;">FULL NAME</h6>
                  <p style="margin: 0; color: #6B6E82;">{{ user.name }}</p>
                </div>
              </div>
              <div class="user-detail-placement">
                <div class="icon-style">
                  <ion-icon name="mail-outline" class="ion-icon-style" style="color: #413DFB;"></ion-icon>
                </div>
                <div style="margin-left: 1rem;">
                  <h6 style="margin: 0; color: #32343E;">EMAIL</h6>
                  <p style="margin: 0; color: #6B6E82;">{{ user.email }}</p>
                </div>
              </div>
              <div class="user-detail-placement">
                <div class="icon-style">
                  <ion-icon name="call-outline" class="ion-icon-style" style="color: #369BFF;"></ion-icon>
                </div>
                <div style="margin-left: 1rem;">
                  <h6 style="margin: 0; color: #32343E;">PHONE NUMBER</h6>
                  <p style="margin: 0; color: #6B6E82;">{{ user.phoneNumber }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="ms-auto p-2 bd-highlight">
            <button class="edit-button" (click)="editUser()">Edit Profile</button>
          </div>
        </div>
      </div>
      <div class="row padding">
        <div class="desktop-dashboard">
          <div class="dashboard-sidebar">
            <ul class="menu-list">
              <li
                style="margin-top: 1rem;"
                *ngFor="let item of menuItems"
                [class.active]="selectedMenu === item.id"
                (click)="selectMenu(item.id)"
              >
                <i [class]="item.icon"></i> {{ item.title | uppercase }}
              </li>
            </ul>
          </div>
          <div class="dashboard-content">
            <ng-container [ngSwitch]="selectedMenu">
              <div *ngSwitchCase="'orders'">Orders Content</div>
              <div *ngSwitchCase="'addresses'">
                <h3>Manage Addresses</h3>
                <div class="addresses">
                  <div class="address-card" *ngFor="let address of addresses">
                    <h4>{{ address.title }}</h4>
                    <p>{{ address.details }}</p>
                    <div class="actions">
                      <button class="edit">Edit</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'favorites'">Favorites Content</div>
              <div *ngSwitchCase="'payments'">Payments Content</div>
              <div *ngSwitchCase="'settings'">Settings Content</div>
              <div *ngSwitchCase="'logout'">Logout Content</div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Mobile and Tablet View -->
    <div class="mobile-dashboard" *ngIf="!isDesktop">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let item of menuItems">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <i [class]="item.icon"></i> {{ item.title }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <ng-container [ngSwitch]="item.id">
              <div *ngSwitchCase="'orders'">Orders Content</div>
              <div *ngSwitchCase="'addresses'">
                <h3>Manage Addresses</h3>
                <div class="addresses">
                  <div class="address-card" *ngFor="let address of addresses">
                    <h4>{{ address.title }}</h4>
                    <p>{{ address.details }}</p>
                    <div class="actions">
                      <button class="edit">Edit</button>
                      <button class="delete">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'favorites'">Favorites Content</div>
              <div *ngSwitchCase="'payments'">Payments Content</div>
              <div *ngSwitchCase="'settings'">Settings Content</div>
              <div *ngSwitchCase="'logout'">Logout Content</div>
            </ng-container>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
