.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.signup-card {
  width: auto;
  padding: 1rem;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  color: #ff7d34;
  z-index: 1;
  margin: 1rem;
}


.logo img {
  width: 8rem;
  margin: 0 auto 1rem;
  display: block;
}

.responsive-tabs {
  width: 100%;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.form-field {
  width: 100%;
}

.signUp {
  justify-content: center;
  display: flex;
  align-items: center;
}

.marginT {
  margin-top: 1rem;
}

button {
  width: 100%;
  margin-top: 1rem;
  background-color: #ff7d34;
  color: white;
}

.backBtn {
  background: grey !important;
  color: white !important;
  border-radius: 12px !important;
}

.nextBtn {
  border-radius: 12px !important; 
  background-color: #FF7622 !important;
  color: white !important;
}


.responsive-stepper {
  width: 100%;
  padding: 1rem;
}

.submitBtn {
	background-color: #FF7622 !important;
	color: white !important;
	box-shadow: none;
	border-radius: 12px !important;
  padding: 1.5rem !important;
	&:disabled {
		opacity: 0.8;
		cursor: not-allowed;
	}
}


.card, .terms-card {
  margin-bottom: 20px;
  padding: 15px;
}

.terms-conditions {
  margin-top: 10px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

mat-list-item {
  padding: 5px 0;
}

form {
  max-height: none;
  overflow: visible;
}

::ng-deep .mat-step-icon-selected {
  background-color: #FF7622 !important;
  color: white !important;
}

::ng-deep .mat-step-icon-state-edit {
  background-color: #FF7622 !important;
  color: white !important;
}



::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab-indicator__content--underline {
  border-color: #FF7622 !important;
}


::ng-deep .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #FF7622 !important;
}


mat-tab-group {
  transition: height 0.1s ease-in-out;
  height: 100%;
}

.button-row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}


@media (min-width: 768px) {
  .button-row {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 1rem;
  }
}

/* Scroll behavior */
@media (max-height: 925px) {

  .scrollable-tab-group {
    height: calc(100vh - 250px); 
    overflow-y: auto;
    padding-right: 1rem;
    scroll-behavior: smooth;
  }

}

@media (max-height: 660px) {
  .scrollable-form {
    max-height: calc(100vh - 270px);
    overflow-y: auto; 
    padding-right: 1rem;
    scroll-behavior: smooth;
  }
}


@media (min-width: 768px) {
  .vendor-form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; 
    height: fit-content !important;
  }

  .vendor-form-field {
    width: auto;
    height: 100%;
  }
}

@media(min-width: 960px){
  mat-tab-group {
    height: fit-content;
  }
}

mat-stepper {
  transition: all 0.3s ease-in-out;
}

.otp-box {
	width: 45px;
	height: 50px;
	margin: 5px;
	border-radius: 8px;
	border: 2px solid #ff7d34;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
}
  
.otp-box input {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 1.5rem;
	border: none;
	outline: none;
	background: transparent;
	color: #1E1E2E;
}
  
.resendBtn {
	color: #FF7622 !important;
  background-color: transparent !important;
	font-size: 15px !important;
  height: auto;
  width: auto;
  margin: 0 !important;
	&:disabled {
		opacity: 0.8;
		cursor: not-allowed;
	}
}


.signup-button {
  &:disabled {
		opacity: 0.8;
		cursor: not-allowed;
	}
}