.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.signup-card {
  width: auto;
  padding: 1rem;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  color: #ff7d34;
  z-index: 1;
  margin: 1rem;
}


.logo img {
  width: 8rem;
  margin: 0 auto 1rem;
  display: block;
}

.responsive-tabs {
  width: 100%;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.form-field {
  width: 100%;
}

.signUp {
  justify-content: center;
  display: flex;
  align-items: center;
}

.marginT {
  margin-top: 1rem;
}

button {
  width: 100%;
  margin-top: 1rem;
  background-color: #ff7d34;
  color: white;
}

.backBtn {
  background: grey !important;
  color: white !important;
  border-radius: 12px !important;
}

.nextBtn {
  border-radius: 12px !important; 
}


.responsive-stepper {
  width: 100%;
  padding: 1rem;
}

.submitBtn {
	background-color: #FF7622 !important;
	color: white !important;
	box-shadow: none;
	border-radius: 12px !important;
	&:disabled {
		opacity: 0.8;
		cursor: not-allowed;
	}
}


.card, .terms-card {
  margin-bottom: 20px;
  padding: 15px;
}

.terms-conditions {
  margin-top: 10px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

mat-list-item {
  padding: 5px 0;
}

form {
  max-height: none;
  overflow: visible;
}

mat-tab-group {
  transition: height 0.1s ease-in-out;
}

/* Scroll behavior */
@media (max-height: 750px) {
  mat-tab-group {
    height: calc(100vh - 250px); /* Adjust based on header/footer heights */
    overflow: hidden;
    scroll-behavior: smooth;
  }

  form {
    overflow-y: auto; /* Enable vertical scrolling */
    padding-right: 1rem; /* Add padding for scrollbar spacing */
    scroll-behavior: smooth;
  }
}