<div class="center">
  <div class="col-xs-12 col-md-12 login-card">
    <div class="logo">
      <img [src]="logo" alt="Logo" />
    </div>
    <div class="title">
      <p class="text-center mb-4 credText">Enter your email to reset your password</p>
    </div>
  
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div style="margin-bottom: 1rem;">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label class="credText">Email</mat-label>
          <input matInput formControlName="email" type="email" placeholder="example@gmail.com" />
          <mat-error *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" style="padding: 0;">
            Please enter a valid email.
          </mat-error>
        </mat-form-field>
      </div>
    
      <div class="marginT">
        <div class="ion-activatable ripple-parent rounded-rectangle">
          <button mat-fab extended class="LoginBtn" style="box-shadow: none !important;" [disabled]="!forgotPasswordForm.valid">
            <p style="font-size: larger;">Reset Password</p>
          </button>
        </div>
      </div>
    </form>

    <div class="marginT signUp">
      <p style="color: #646982;">
        Remember your password?
        <span><a style="color: #ff7d34;" routerLink="/public/login">Back to Login</a></span>
      </p>
    </div>
  </div>
</div>
