/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Success Notification */
.successSnack :nth-child(1){
    background: #6ed672 !important;
    font-weight: bold !important;
    color: white !important;
}
/* Error Notification */
.errorSnack :nth-child(1) {
    background: #ff6257 !important;
    font-weight: bold !important;
    color: white !important;
}

.custom-cart-notification {
    --background: #059C6A !important;
    --color: white !important;    
}

