.dialog-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF !important;
    color: black;
    padding: 16px;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    color: #FF7622;
}
  
.dialog-body {
    padding: 1rem;
    max-height: 600px;
    overflow-y: auto;
}

.dialog-body::-webkit-scrollbar {
    width: 8px;
}
.dialog-body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}
.dialog-body::-webkit-scrollbar-thumb {
    background-color: #FF956D;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}
.dialog-body::-webkit-scrollbar-thumb:hover {
    background-color: #FF7622;
}
  
.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF7622;
}

.content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.couponContainer {
    display: flex;
    height: fit-content;
    padding: 0;
    width: fit-content;
    border-radius: 5px;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    background: #FFF2ED;
    border: 1px solid #FF956D;
    font-family: 'Roboto';
    cursor: pointer;
}


.couponImg {
    width: 1.5rem;
    margin-right: 0.5rem;
}

.coupon {
    letter-spacing: 1px;
    color: #FF956D;
    display: flex;
    align-items: center;
}

.deal {
    margin-bottom: 2rem;
    border: 1px dashed #FF956D;
    border-radius: 12px;
}

.applyDealBtn {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border: 1px solid;
    background: transparent;
    color: #FF956D !important;
    font-weight: 500;
}


.coupon-applied-dialog-header {
    display: flex;
    justify-content: center;
}

.coupon-applied-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.coupon-icon {
    width: 50px;
    height: 50px;
}
.icon-section {
    margin-bottom: 10px;
}

.message-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    h3 {
        font-size: 22px;
        color: #FF7622;
        font-weight: 500;
        margin-bottom: 10px;
        text-transform: uppercase;

    }
}



.savings-amount {
    font-size: 35px;
    color: #525C67;
    margin: 0;
}

.savings-description {
    font-size: 14px;
    color: #525C67;
    margin: 0;
}
  
.divider {
    width: 15%;
    border-top: 2px solid #FF7622;
    margin: 15px auto;
    border-radius: 12px;
    opacity: 1;
}

.message {
    font-size: 14px;
    color: #525C67;
}

.action-section {
    width: 100%;
    border-top: 1px solid #ccc;
    justify-content: center;
    display: flex;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    .yay-btn {
        width: fit-content;
        background-color: transparent !important;
        color: #FF7622;
        font-weight: 500;
    }
}

#mat-divider {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;

}