<div class="dialog-container">
  <div class="content">
    <div *ngIf="data.couponApplied; else presentDeals">
      <div class="coupon-applied-dialog-header">
        <ion-img src="assets/icons/offer.png" style="width: 4rem;"></ion-img>
      </div>
      <div class="coupon-applied-container">
        <div class="message-section">
          <h3 style="margin-bottom: 1.5rem;">'{{selectedDeal?.code}}' APPLIED</h3>
          <h2 class="savings-amount">{{ selectedDeal?.discountedPrice | currency: 'INR' }}</h2>
          <p class="savings-description">savings with this coupon</p>
          <hr class="divider">
          <p class="message">Happy to see you reconnect with your favorite. Enjoy!</p>
        </div>
        <div class="action-section">
          <button mat-button class="yay-btn" (click)="closeDialog()">YAY!</button>
        </div>
      </div>
    </div>
    <ng-template #presentDeals>
      <div class="dialog-header">
        <h2>{{"Deals" | uppercase}}</h2>
        <button (click)="closeDialog()" class="close-btn"><ion-icon name="close"></ion-icon></button>
      </div>
      <div class="dialog-body">
        <div *ngIf="!data.deals.length;">
          <div class="row" style="color: #525C67;">
            <h5 style="font-size: 16px;">No coupon available for this restaurant at a moment, Please try again after sometime.</h5>
          </div>
        </div>
        <div *ngFor="let deal of data.deals" class="deal">
          <div class="row p-3" style="color: #525C67;" >
            <div>
              <div class="couponContainer">
                <div class="couponImg">
                  <img src="assets/icons/coupon-code.png" alt="{{deal.code}}">
                </div>
                <div class="coupon">
                  <span style="padding: 0; font-size: 16px; font-weight: 500;">{{deal.code}}</span>
                </div>
              </div>
              <p style="padding: 0; font-size: 16px; font-weight: 500; margin-top: 0.5rem; margin-bottom: 0.2rem;">Get {{ deal?.title }}</p>
              <p style="padding: 0; font-size: 14px;">{{ deal?.description }}</p>
            </div>
            <div>
              <div *ngIf="deal.showTerms; else showMore">
                <p style="padding: 0; font-size: 15px; font-weight: 500;">Terms and Conditions</p>
                <ul *ngIf="deal?.termsAndCondition?.length">
                  <li *ngFor="let term of deal.termsAndCondition" style="font-size: 13px;">
                    {{ term.terms }}
                  </li>
                </ul>
              </div>
              <ng-template #showMore>
                <p style="padding: 0; font-size: 13px; font-weight: 500; cursor: pointer; color: #5d8ed5;" (click)="toggleVisible(deal)"> + {{"More" | uppercase}}</p>
              </ng-template>
            </div>
            <div>
              <button mat-button class="applyDealBtn" (click)="applyDeal(deal)">{{"Apply Coupon" | uppercase}}</button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
