/* Text Color */
h4, h5, ion-card-title, .restaurant-details span {
    color: #32343E;
    
}

ion-content {
    --background: #FFFFFF !important;
}

.home-page {
    margin-bottom: 4rem;
}

.toolbar-container {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.padding {
    padding-bottom: 1.5rem;
}

.desktop-dashboard {
    background-color: #FFFFFF !important;
}

.dashboard-content {
    padding: 1rem;
}
  
.welcome-section {
    padding: 16px;
    h4 {
        font-size: 1.5rem;
        color: #333;
    }
}

.search-bar {
    width: 100%;
    margin-top: 16px;
    }
    .search-bar input {
    color: #32343E;
}

.iconAndText {
    align-items: center; 
    display: flex;
    font-size: 1.4rem;
    padding-right: 0.5rem;  
}


.underlineAddressType {
    color: #FC6E2A;
    font-size: 16px;
    border-bottom: 2px solid;
    margin-right: 1rem;
}

.addressFont {
    color: #676767;
    font-size: 16px;
}



/* Category Cards */
.categories-section {
    padding: 16px;
    position: relative;
}
  
.category-cards-wrapper {
    overflow-x: hidden;
    position: relative;
    width: 100%;
}
  
.category-cards {
    display: flex;
    // gap: 10px;
    scroll-behavior: smooth;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    ion-img {
        width: fit-content;
    };
    ion-card-title {
        font-size: 16px;
        padding: 0;
        color: #32343E;
    };
    ion-card-header {
        background-color: transparent;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
    }
}

.category-cards::-webkit-scrollbar {
    display: none;
}
  
.category-card {
    min-width: 7rem;
    background: transparent;
    border-radius: 12px;
    height: fit-content;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    ion-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
  
.scroll-btn {
    color: #181C2E;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
  
.prev-btn {
    transform: translateY(-50%);
}
  
.next-btn {
    transform: translateY(-50%);
}
  
  
  
/* Restaurant Cards */
.restaurants-section {
    padding: 16px;
    .restaurant-cards {
        cursor: pointer;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // gap: 16px;
        ion-card {
            background: white;
            border-radius: 12px;
            box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
            border: 1px solid #ddd;
        }
    }
}


@media screen and (max-width: 1024px) {
    .restaurant-cards {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media screen and (max-width: 768px) {
    .home-page {
        margin-top: 3rem;
        margin-bottom: 0;
    }
    .restaurant-cards {
        .image-container {
            height: 130px;
        }
    }
    .scroll-btn {
        display: none;
    }
}


@media screen and (max-width: 576px) {
    .restaurant-cards {
        ion-card-header {
            padding: 0.5rem;
            .restaurant-details-row {
                display: block;
                margin-top: 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .restaurant-cards {
        .image-container {
            height: 100px;
        }
    }
}


.restaurant-details-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rating-design {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #FC6E2A;
    border-radius: 10px;
    color: white;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    font-size: 12px;
}

.restaurant-details {
    display: flex;
    align-items: center;
    ion-icon {
        font-size: 12px;
        color: white;
        margin-left: 0.2rem;
    }
    span {
        margin-left: 1px;
        font-size: 12px;
        color: #32343E;
    }
}


.selected-address {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fc6e2a;
}

.selected-address mat-icon {
    margin-right: 0.5rem;
}
  
.address-item {
    padding: 0.5rem 0;
}
  
.address-item mat-icon {
    margin-right: 1rem;
    color: #fc6e2a;
}
  
.saved-address {
    padding: 0.5rem 0;
}
  
.saved-address mat-icon {
    margin-right: 0.5rem;
    color: #000;
}
  
.address-title {
    font-weight: bold;
}
  
.address-details {
    font-size: 0.85rem;
    color: #555;
}

.expansionRemoveBG {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}
  
::ng-deep .mat-expansion-panel-header {
    background-color: transparent !important; /* Removes the background color */
    box-shadow: none; /* Removes any box-shadow if present */
}

::ng-deep .address-section .mat-expansion-panel-content {
    background: white;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    border-radius: 12px;
    padding: 0.5rem;
}

::ng-deep .address-section .mat-expansion-panel-body {
    padding: 0 !important;
}

.contentAlign{
    display: flex;
    align-items: center;

}


.selected-category {
    background-color: #FC6E2A;
}
  
.selected-category ion-card-title {
    color: white;
}

.noRestaurantFound {
    font-size: 0.85rem;
    color: #555;
    margin: 0;
    padding: 1rem;
}

.image-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
    ion-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.favorite-icon-main {
    position: absolute;
    top: 10px; 
    right: 10px; 
    z-index: 10;
    font-size: 1.5rem; 
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #FFEDE6;
    border-radius: 50%;
    padding: 0.3rem;
    .favorite-icon {
        color: #FC6E2A;
        box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    }
}