<div class="home-page">
    <div class="container desktop-dashboard">
      <div class="dashboard-content">
        <!-- Search Panel -->
        <div class="row padding">
          <div class="col-md-6">
            <h4 style="color: #1E1D1D;">Hey Ravi, <span style="font-weight: bold;">Good Afternoon!</span></h4>
            <input class="form-control" type="text" placeholder="Search dishes, restaurants">
          </div>
        </div>
  
        <!-- Featured Categories -->
        <div class="row padding">
          <div class="categories-section">
            <div class="d-flex bd-highlight mb-3">
              <div class="p-2 bd-highlight">
                <h5>All Categories</h5>
              </div>
              <div class="ms-auto p-2 bd-highlight" style="justify-content: center; display: flex; align-items: center; flex-direction: row;">
                <ion-icon style="padding: 0.5rem;" (click)="scrollLeft()" class="scroll-btn prev-btn" name="arrow-back-outline"></ion-icon>
                <ion-icon style="padding: 0.5rem;" (click)="scrollRight()" class="scroll-btn next-btn" name="arrow-forward-outline"></ion-icon>
              </div>
            </div>
            <div class="category-cards-wrapper">
              <div class="category-cards" #categoryCards>
                <ion-card *ngFor="let category of categories" class="category-card">
                  <ion-img [src]="category.image"></ion-img>
                  <ion-card-header>
                    <ion-card-title>{{ category.name }}</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Featured Restaurants -->
        <div class="row padding">
          <div class="restaurants-section">
            <h5>Open Restaurants</h5>
            <div class="restaurant-cards">
              <ion-card *ngFor="let restaurant of restaurants" class="restaurant-card">
                <ion-img [src]="restaurant.image"></ion-img>
                <ion-card-header>
                  <ion-card-title>{{ restaurant.name }}</ion-card-title>
                  <div class="restaurant-details">
                    <ion-icon name="star-outline"></ion-icon>
                    <span>{{ restaurant.rating }} | {{ restaurant.deliveryTime }} min</span>
                  </div>
                </ion-card-header>
              </ion-card>
            </div>
          </div>
        </div>
      </div>

    </div>
</div>