/* Text Color */
h4, h5, ion-card-title, .restaurant-details span {
    color: #32343E;
    
}


.toolbar-container {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.padding {
    padding: 1rem;
}

.desktop-dashboard {
    background-color: #FFFFFF !important;
    height: 100%;
}

.dashboard-content {
    padding: 1rem;
}
  
.welcome-section {
    padding: 16px;
    h4 {
        font-size: 1.5rem;
        color: #333;
    }
}

.search-bar {
    width: 100%;
    margin-top: 16px;
    }
    .search-bar input {
    color: #32343E;
}

.iconAndText {
    align-items: center; 
    display: flex;
    font-size: 1.4rem;
    padding-right: 0.5rem;  
}


.underlineAddressType {
    color: #FC6E2A;
    font-size: 16px;
    border-bottom: 2px solid;
    margin-right: 1rem;
}

.addressFont {
    color: #676767;
    font-size: 16px;
}


// .category-image-size {
//     width: 10rem !important;
//     height: 12rem !important;
// }

// /* Category Cards */
// .categories-section {
//     padding: 16px;
//     .category-cards {
//         display: grid;
//         grid-template-columns: repeat(6, 1fr);
//         gap: 16px;
//         ion-card {
//         width: 10rem;
//         background: white;
//         border-radius: 12px;
//         box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
//         }
//     }
// }


  
  
  
//   @media screen and (max-width: 768px) {
//     .horizontal-slider {
//       height: 180px; /* Smaller height for mobile */
//     }
  
//     .category-card {
//       height: 120px; /* Smaller height for mobile cards */
//     }
  
//     .category-card-image {
//       height: 80px; /* Adjust image size on mobile */
//     }
//   }
  
/* Category Cards */
.categories-section {
    padding: 16px;
    position: relative;
}
  
/* Wrapper for scrolling */
.category-cards-wrapper {
    overflow-x: hidden; /* Hide overflow initially */
    position: relative;
    width: 100%; /* Ensure it takes full width */
}
  
/* Horizontal layout for category cards */
.category-cards {
    display: flex;
    gap: 10px; /* Gap between cards */
    scroll-behavior: smooth; /* Smooth scrolling */
    overflow-x: auto; /* Enable horizontal scrolling */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    scrollbar-width: none; /* For Firefox */
    ion-img {
        width: fit-content;
    };
    ion-card-title {
        font-size: 16px;
        padding: 0;
    };
    ion-card-header {
        background-color: transparent;
        padding: 0.5rem;
        justify-content: center;
        align-items: center;
    }
}

.category-cards::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
  
/* Category card styling */
.category-card {
    min-width: 7rem;
    background: transparent;
    border-radius: 12px;
    height: fit-content;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
  
/* Scroll Button Styling */
.scroll-btn {
    color: #181C2E;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
  
.prev-btn {
    transform: translateY(-50%);
}
  
.next-btn {
    transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
    .scroll-btn {
      display: none; /* Hide buttons on screens smaller than 768px (tablet and mobile) */
    }
}
  
  
  
/* Restaurant Cards */
.restaurants-section {
    padding: 16px;
    .restaurant-cards {
        cursor: pointer;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        ion-card {
        background: white;
        border-radius: 12px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }
    }
}


@media screen and (max-width: 1024px) {
    .restaurant-cards {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}


@media screen and (max-width: 576px) {
    .restaurant-cards {
        grid-template-columns: 1fr !important;
    }
}

.restaurant-details-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rating-desing {
    justify-content: center;
    display: flex;
    align-items: center;
    padding-left: 0.2rem;
    background-color: #FC6E2A;
    border-radius: 10px;
    color: white;
    padding-right: 0.2rem;
}

.restaurant-details {
    display: flex;
    align-items: center;
    ion-icon {
        font-size: 13px;
        color: white;
    }
    span {
        margin-left: 6px;
        font-size: 14px;
        color: #32343E;
    }
}


.selected-address {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fc6e2a;
}

.selected-address mat-icon {
    margin-right: 0.5rem;
}
  
.address-item {
    padding: 0.5rem 0;
}
  
.address-item mat-icon {
    margin-right: 1rem;
    color: #fc6e2a;
}
  
.saved-address {
    padding: 0.5rem 0;
}
  
.saved-address mat-icon {
    margin-right: 0.5rem;
    color: #000;
}
  
.address-title {
    font-weight: bold;
}
  
.address-details {
    font-size: 0.85rem;
    color: #555;
}

.expansionRemoveBG {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}
  
::ng-deep .mat-expansion-panel-header {
    background-color: transparent !important; /* Removes the background color */
    box-shadow: none; /* Removes any box-shadow if present */
}

::ng-deep .address-section .mat-expansion-panel-content {
    background: white;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    border-radius: 12px;
    padding: 0.5rem;
}

::ng-deep .address-section .mat-expansion-panel-body {
    padding: 0 !important;
}

.contentAlign{
    display: flex;
    align-items: center;

}


.selected-category {
    background-color: #FC6E2A;
}
  
.selected-category ion-card-title {
    color: white;
}

.noRestaurantFound {
    font-size: 0.85rem;
    color: #555;
    margin: 0;
    padding: 1rem;
}