ion-content {
    --background: #FFFFFF !important;
}

.container {
    background-color: #FFFFFF !important;
    color: #181C2E;
}

.padding {
    padding: 1rem;
}

.restaurant-page {
    margin-top: 2rem;
    margin-bottom: 4rem;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.restaurant {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 12px;
}
  
.restaurant-title {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    color: #555;

    h1 {
        margin: 0;
    }
}

.restaurant-info {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    font-size: 0.9rem;
    color: #555;
}

.restaurant-address {
    font-size: 14px;
    color: #A0A5BA;
}

.ratingsCornerCenter {
    display: flex;
    align-items: center;
    justify-content: end;
}

.ratingsCorner,
.averageCostCorner {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ratings {
    color: white;
    border-radius: 10px;
    background-color: #059C6A;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-right: 0.1rem;
}

.restaurant-cuisine {
    display: flex;
    justify-content: space-between;
    font-size: 14px; 
    color: #646982;
    align-items: center;
}

.restaurant-meta {
    margin-top: 1rem;
    width: fit-content;
    justify-content: center;
    display: flex;
    align-items: center;
} 

.restaurant-time {
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 0.3rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

.restaurant-time-info {
    margin-left: 0.3rem;
    font-size: 18px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.restaurant-time-info-content {
    background-color: white !important;
    padding: 1rem !important;
    color: #FC6E2A;
    justify-content: center;
    display: flex;
    align-items: center;


}


.center {
    justify-content: center;
    display: flex;
    align-items: center;
}

.padding {
    padding: 1rem;
}

.search-bar-section {
    padding: 1rem;
}

.search-details {
    
    font-weight: 500;
}

.search-menu {
    display: flex;
    align-items: center;
    justify-content: end;
}  

.search-field {
    width: fit-content;
}

.menu-section {
    margin: 1rem 0;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid #eee;
}

.menu-item .item-info {
    max-width: 70%;
}



@media (max-width: 768px) {
    .restaurant-page {
        margin-top: 5rem;
        margin-bottom: 0;
    }
    .restaurant-info,
    .restaurant-meta {
        flex-direction: column;
        gap: 0.5rem;
    }

    .menu-item {
        // flex-direction: column;
        align-items: flex-start;
    }
}



/* Deal Cards */
.deals-section {
    position: relative;
    padding: 1rem !important;
}
  
/* Wrapper for scrolling */
.deal-cards-wrapper {
    overflow-x: hidden;
    position: relative;
    width: 100%;
}
  
/* Horizontal layout for deal cards */
.deal-cards {
    display: flex;
    gap: 10px;
    scroll-behavior: smooth;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    cursor: pointer;
    ion-img {
        opacity: 0.9;
        width: 2.5rem;
    };
    ion-card-title {
        color: #FF7622;
        font-size: 16px;
        padding: 0;
        font-weight: bold;
    };
    ion-card-subtitle {
        font-size: 14px;
        margin: 0;
    };
    ion-card-header {
        background-color: transparent;
        padding: 0.5rem;
    }
}

.deal-cards::-webkit-scrollbar {
    display: none;
}
  
/* Deal card styling */
.deal-card {
    min-width: 17rem;
    background-color: transparent !important;
    display: flex !important;
    border-radius: 12px;
    height: fit-content;
    box-shadow: 0 0 0 2px #FFC6AE;
}

.scroll-btn {
    color: #181C2E;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
  
.prev-btn {
    transform: translateY(-50%);
    color: #555;
}
  
.next-btn {
    transform: translateY(-50%);
    color: #555;
}

@media screen and (max-width: 768px) {
    .scroll-btn {
      display: none; /* Hide buttons on screens smaller than 768px (tablet and mobile) */
    }
}

.timing-info-popup {
    padding: 1rem !important;
    background-color: #FFC6AE !important;
}

ion-delegate-host.popover-viewport {
    --padding: 1rem;
    --background: #FFC6AE !important;
}


.menu-main {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 12px;
}

.menu-header {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1rem;
}

.menu-header-text {
    font-weight: 500;
    font-size: 18px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.line-left,
.line-right {
    width: 8rem;
    
}

.menu-title {
    font-size: 16px;
    font-weight: 700;
    color: #FC6E2A;
}

.menu-list {
    margin-top: 1.5rem !important;
    border-radius: 12px !important;
}

.menu-item-title{
    font-size: 16px;
    font-weight: 500;
    color: #181c2e;

}

.menu-item-desc {
    font-size: 14px;
    color: #A0A5BA;
}

.price {
    font-weight: 500;
    color: #181c2e;
}

.menu-item-add-to-cart {
    // width: 100px;
    // padding-left: 1rem;
    // padding-right: 1rem;
    // padding-top: 0.5rem;
    // padding-bottom: 0.5rem;
    // margin-top: 1rem;
    // border: 1px solid #ddd;
    // border-radius: 12px;
}

.add-btn {
    transition: all 0.25s ease-in-out;
    font-family: 'Roboto';
    background: transparent;
    width: 100%;
    color: #059C6A !important;
    font-size: 16px;
    font-weight: 500;
    width: 100px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    letter-spacing: 1px;
    &:hover{
        background: #059C6A;
        color: white !important;
    }
}

.item-image {
    display: flex;
    width: 7rem !important;
    img {
      border-radius: 12px;
      width: 100%;
      height: 100%;
    }
}

  

// ::ng-deep .mat-expansion-panel-content {
//     background: transparent !important;
//     border: none !important;
//     box-shadow: none !important;
//     border-radius: 12px;
//     // padding: 1rem;
// }

// ::ng-deep .mat-expansion-panel-body {
//     padding: 0 !important;
// }



.footer-container {
    background-color: #F6F8FA;
    color: black;
    padding: 20px;
    text-align: center;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
  
.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
  
.footer-section {
    flex: 1;
}
  
.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #FC6E2A;
}
  
.footer-section ul {
    list-style: none;
    padding: 0;
}
  
// .footer-section ul li {
//     margin-bottom: 8px;
// }
  
.footer-section ul li a {
    color: black;
    text-decoration: none;
}
  
.footer-section ul li a:hover {
    color: #FC6E2A;
}
  
.footer-bottom {
    margin-top: 20px;
}
  
.social-links {
    display: flex;
    justify-content: center;
}
  
.social-links li {
    padding: 8px;
}
  
.social-links li a {
    color: black;
    font-size: 18px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.footer-details-content {
    justify-content: start;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    color: #646982;
}
  
/* Responsive for tablets and smaller screens */
@media screen and (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      margin-bottom: 20px;
      width: 100%;
    }

    .search-details-main {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .search-field {
        width: 100%;
    }
  
    // .footer-section h3 {
    //   font-size: 16px;
    // }
  
    // .footer-section ul li a {
    //   font-size: 14px;
    // }
  
    // .social-links li {
    //   margin-right: 10px;
    // }
}
  
  /* Responsive for mobile devices */
@media screen and (max-width: 480px) {
    .footer-container {
      padding: 15px;
    }
  
    // .footer-section h3 {
    //   font-size: 14px;
    // }
  
    // .footer-section ul li a {
    //   font-size: 12px;
    // }
  
    // .footer-bottom {
    //   font-size: 12px;
    // }
  
    // .social-links li a {
    //   font-size: 16px;
    // }
}


.favorite-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #FF7622;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    background: aliceblue;
    border-radius: 50%;
    padding: 0.3rem;
    background-color: #FFEDE6;
    &:hover {
        transform: scale(1.1);
    }
}
  
// .favorite-button:hover {
//     color: #FFC6AE;
// }
  
.favorite-button mat-icon {
    font-size: 24px;
}