
.container {
    background-color: #FFFFFF !important;
    height: 100%;
    color: #181C2E;
}

.padding {
    padding: 1rem;
}
.cart-page {
    background-color: #FFFFFF;
    height: 100%;
    display: flex;
    flex-direction: column;

    .address-section {
        border: 1px solid #ddd;
        border-radius: 12px;
        padding: 1rem;
        margin: 0.5rem;

        .add-address-btn-container {
          justify-content: center;
          align-items: center;
          display: flex;
        }

        .add-address-btn {
          justify-content: center;
          align-items: center;
          display: flex;
          background: transparent !important;
        }

        .addresses {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .address-card {
            flex: 1 1 45%;
            font-size: 14px;
            .card {
                .select-address-btn {
                    background-color: #FB6D3A;
                    color: white;
                    font-size: 14px;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    padding-top: 0.3rem;
                    padding-bottom: 0.3rem;
                    margin: 0;
                }
                button {
                    margin-top: 10px;
                }
            }
        }
        .card-title {
          margin: 0 !important;
        }

        // .add-address-card {
        //     font-size: 14px;


        //     button {
        //         width: 100%;
        //     }
        // }
    }
  
    #order-summary {
      .order-details {
        background: #f8f8f8;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        margin: 0.5rem;
        font-family: roboto;
        font-size: 16px;
  
        .order-item,
        .bill-item {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          font-size: 14px;
        }
        .non-contact-option,
        .coupon-section {
          margin-top: 20px;
        }
        .total {
          font-weight: bold;
          display: flex;
          justify-content: space-between;
        }
      }
  
      .cancellation-notice {
        padding: 10px;
        background-color: #FFF5F0;
        border: 1px solid #FF8F60;
        color: #FF8F60;
        margin-top: 20px;
        border-radius: 12px;
        margin: 0.5rem;
        a, a:visited, a:active {
          text-decoration: none;
          color: #FF8F60;
          border-bottom: 1px #FF8F60 dotted;
        }
        a:hover {
          transform: scale(1.03);
        }
      }
    }
}
  
@media (max-width: 768px) {
    .cart-page {
      padding: 10px;
  
      #address-section,
      #order-summary {
        width: 100%;
      }
  
      #address-section {
        .address-card,
        .add-address-card {
          width: 100%;
        }
      }
    }
}
  
